.span_1{
	padding-left: 20px;
}

.span_2{
	padding-left: 40px;
}

.span_3{
	padding-left: 60px;
}

.span_4{
	padding-left: 80px;
}

.span_5{
	padding-left: 100px;
}

.span_6{
	padding-left: 120px;
}

.span_7{
	padding-left: 140px;
}

.span_8{
	padding-left: 160px;
}

.span_9{
	padding-left: 180px;
}

.span_10{
	padding-left: 200px;
}

.span_11{
	padding-left: 220px;
}